---
pagination:
  data: integratedPages
  size: 1
  alias: page
permalink: "{{ page.path }}"
eleventyExcludeFromCollections: true
---
{%- for segment in page.segments -%}
{%- if segment.type == 'raw' -%}{{ segment.html | safe }}
{%- elif segment.type == 'feedback' -%}{% include './components/feedback.njk' %}
{%- elif segment.type == 'related' -%}{% set cards = segment.cards %}{% include './components/related.njk' %}
{%- endif -%}
{%- endfor -%}
