---
pagination:
  data: shells
  size: 1
  alias: shell
permalink: "{{ shell.output }}.shell.json"
eleventyExcludeFromCollections: true
---
{% set header %}{% include './' + shell.headerTemplate %}{% endset %}{% set originalFooter %}{% include './' + shell.footerTemplate %}{% endset %}{% set disclosureLang = 'en' if shell.output.startsWith('en/') else 'ja' %}{% set disclosure %}{% include 'affiliate-disclosure.njk' %}{% endset %}{% set footer = originalFooter | replace('</footer>', disclosure + '</footer>') %}{"output":{{ shell.output | dump | safe }},"header":{{ header | dump | safe }},"footer":{{ footer | dump | safe }}}
