---
pagination:
  data: shells
  size: 1
  alias: shell
permalink: "{{ shell.output }}.shell.json"
eleventyExcludeFromCollections: true
---
{% set header %}{% include './' + shell.headerTemplate %}{% endset %}{% set footer %}{% include './' + shell.footerTemplate %}{% endset %}{"output":{{ shell.output | dump | safe }},"header":{{ header | dump | safe }},"footer":{{ footer | dump | safe }}}
