---
pagination:
  data: proposals
  size: 1
  alias: proposal
permalink: "{{ proposal.output }}.json"
eleventyExcludeFromCollections: true
---
{% set home = proposal.home %}{% set homeLabel = proposal.homeLabel %}{% set assetRoot = proposal.assetRoot %}{% set title = proposal.title %}{% set subtitle = proposal.subtitle %}{% set consult = proposal.consult %}{% set search = proposal.search %}{% set searchShort = proposal.searchShort %}{% set menu = proposal.menu %}{% set placeholder = proposal.placeholder %}{% set noResults = proposal.noResults %}{% set contactUrl = proposal.contactUrl %}{% set contact = proposal.contact %}{% set languageLabel = proposal.languageLabel %}{% set lang = proposal.lang %}{% set currentLanguage = proposal.currentLanguage %}{% set currentLabel = proposal.currentLabel %}{% set counterpart = proposal.counterpart %}{% set otherLang = proposal.otherLang %}{% set otherLanguage = proposal.otherLanguage %}
{% set header %}{% include "./header.njk" %}{% endset %}
{"output":{{ proposal.output | dump | safe }},"header":{{ header | dump | safe }}}
