{%- macro field(value) -%}
{{ value.open | safe }}{{ value.html | safe }}{{ value.close | safe }}{{ value.tail | safe }}
{%- endmacro -%}
{{ h.open | safe }}{{ h.prefix | safe }}{{ h.copyOpen | safe }}{{ h.copyPrefix | safe }}
{%- if h.label -%}{{ field(h.label) }}{%- endif -%}
{{ field(h.title) }}{{ field(h.lead) }}
{%- if h.points -%}{{ field(h.points) }}{%- endif -%}
{%- if h.disclosure -%}{{ field(h.disclosure) }}{%- endif -%}
{%- if h.actions -%}{{ field(h.actions) }}{%- endif -%}
{{ h.copyClose | safe }}{{ h.suffix | safe }}{{ h.close | safe }}
