
      html[data-dc-theme=dark] body .article-hero::after{
        background:linear-gradient(180deg,rgba(10,18,28,.98) 0%,rgba(10,18,28,.94) 46%,rgba(10,18,28,.62) 68%,rgba(10,18,28,.22) 84%,rgba(10,18,28,.03) 100%)!important;
      }